.nav{
    padding-top: 20px;
    padding-bottom: 0px;
    background: #fff !important;
    display: flex;
    border-bottom: 1px solid #00B0F6;
    font-size: 20px;
}
@media (min-width: 768px){
    .navbar-expand-md .navbar-collapse{
        display: flex!important;
    flex-basis: auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: space-around; 
    }
}

.boton{
    margin-right: 50px;
}


.nav {
    /* Estilos personalizados para la barra de navegación */
    background-color: #fff;
  }
  
  .navegacion {
    /* Estilos personalizados para los elementos de navegación */
    display: flex;
    justify-content: center;
  }
  
  .boton {
    /* Estilos personalizados para el botón */
  }
  
  .custom-button {
    border: 1px solid #00B0F6;
    background: #00B0F6;
  }
  
  .header-top {
    /* Estilos para el encabezado superior */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00B0F6;
    width: 100%;
    height: 40px;
    font-size: 25px;
    color: #ffffff;
    z-index: 9999;

  }
  
  .content-wrapper {
    /* Estilos para el contenedor de contenido */
    background-color: #ffffff;
    opacity: 1;
    margin-top: 79px !important;
    font-size: 18px;
  }
  
  .image-container {
    padding-top: 42px;
  }
  
  .image {
    width: 100%;
    height: 100px;
  }
  